@import "bootstrap-sprockets";
@import "bootstrap";

#aaa{
    font-style: italic;
    font-weight: bold;
    font-size: 4.0em;
    margin-top: 50px;
}

div.top-page{
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
}

div.top-page p{
    font-size: 1.5em;
}

div.top-page input[type="email"] {
        width: 400px;
    }

div.top-page input[type="password"] {
        width: 400px;
    }

#account-cr{
    background-color: green;
}

#login-btn {
        width: 400px;
    }