@import "bootstrap-sprockets";
@import "bootstrap";

div.top-page{
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    text-align: left;
}

div.top-page p{
    font-size: 0.5em;
}

div.top-page input[type="email"] {
        width: 400px;
    }

div.top-page input[type="password"] {
        width: 400px;
    }

#account-cr{
    background-color: green;
}

#login-btn {
        width: 400px;
    }